body{
 background-color: black;
margin: 0;

}

 /*I use vw,vh,em for more web responsive*/
 
.top {
position: relative;
width: 10vw;
height: 5vh; 
  }

  .top img{
width: 100vw;
height:100vh;
bottom: 53.9vh;
right: 0vw;
position: relative;
}

#im-2{
    width: 13vw;
    height: 7vh;
    top: -99vh;
    left: 1vw;
  }

  #im-3{
    width:7vw;
    height:7vh;
    left: 20vw;
    top: -68.5vh;
    position: relative;
  }

  header input{
   position: relative;
    width: 65vw;
    height: 4vh;
    right: -16vw;
    top: -113vh;
  }
 
 
     #button1{
       width: 6vw;
       height: 6vh;
       padding: 0;
       right: 11vw; 
       position: absolute; 
       border-radius: 17px;
       font-size: 12px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bolder;
       color: rgb(255, 255, 255);
       background-color: rgb(169, 27, 27);
      left: 91vw;
      top: 2vh;
    }

  #button2{
      width: 6vw;
      height: 6vh;
      padding: 0;
      right: 4vw; 
      position: absolute; 
      border-radius: 17px;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      color: rgb(255, 255, 255);
      background-color: rgb(169, 27, 27);
      left: 83.7vw;
      top: 2vh;
     } 

     .head-text{
        position: fixed;
        width: 70vw;
        height: 9vh;
        left: 20vw;
        top: 23vh;
        position: relative;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
     }

      .head-text p {
        font-size: 12px;
        }
  
      .head-text h2{
        font-size: 1.3em;
        font-weight: bolder;
        color: aliceblue;
    }

    #main-box{
        color: rgb(255, 255, 255);
        background-color: rgb(28, 22, 24);
        width: 100vw;
        height: 44vh;
        top: 25vh;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
      }

        #main-box h1{
            text-align: center;
            text-shadow: 2PX 1px 5PX rgb(253, 237, 237);
            font-size: 46px; }

          #main-box h2{
            text-align: center;
            font-size: 27px;}

            #main-box button{
              position: absolute;
              left: 8.5vw;
              bottom: 3.5vh;
            }

            hr{
             width: 19vw;}

            button{
            height:3.5vh;}

            .box-1{
                color: rgb(255, 255, 255);
                background-color: rgb(15, 94, 140);
                width: 24vw;
                height: 28vh;
                left: 11vw;
                bottom:1vh;
                margin-right: 1vw;
                border-radius: 11px;
                padding: 1px;
                font-size: 13px;
                font-weight:bold;
              position: relative;}

              .box-2{
                color: rgb(255, 255, 255);
                background-color: rgb(15, 94, 140);
                width: 24vw;
                height: 28vh;
                left: 63vw;
                bottom:29.5vh;
                position: relative;
                border-radius: 11px;
                padding: 1px;
                font-size: 13px;
                font-weight:bold;}

              .box-3{
                color: rgb(255, 255, 255);
                background-color: rgb(15, 94, 140);
                width: 24vw;
                height: 28vh;
                left: 37vw;
                bottom: 57.5vh;
                position: relative;
                border-radius: 11px;
                font-size: 13px;
                font-weight:bold;
                padding: 1px; }

            
                .im-fot{
                  width: 13vw;
                  height: 5vh;
                  bottom: -29vh;
                  position: relative;
                  left: 1vw;}

                .fot{
                color: rgb(255, 255, 255);
                bottom: 0vh;
                position: relative;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                width: 100vw;}

                .blog {
                  width: 10vw;
                  height: 12vh;
                  position: relative;
                  bottom: -9vh;
                  right:-1vw;
                  }

              .fac {
                width: 7vw;
                height: 11vh;
                position: relative;
                bottom: 4vh;
                left: 21vw; }

              .twit{
                width: 7vw;
                height: 11vh;
                position: relative;
                bottom: 16vh;
                left: 70vw; }

                .logo{
                  position: relative;
                  bottom: -29vh;
                  right: -1vw;
                }
                
               
