body{
 background-color: black;}

 /*I use vw,vh,em for more web responsive*/
 
.top {
position: fixed;
width: 10vw;
height: 5vh; 
  }

  .top img{
width: 100vw;
height:100vh;
bottom: 57vh;
position: fixed;
right: 0vw;
}

img:nth-of-type(2){
    width: 13vw;
    height: 7vh;
    top: 2vh;
    left: 1vw;
  }

  img:nth-of-type(3){
    width:7vw;
    height:7vh;
   
    left: 20vw;
    top: 35vh;
    position: fixed;
  }

  header input{
   position: fixed;
    width: 60vw;
    height: 3vh;
    right: 18vw;
    top: 2%;
  }
 
 
     #button1{
       width: 6vw;
       height: 6vh;
       padding: 0;
       right: 11vw; 
       position: fixed; 
       border-radius: 17px;
       font-size: 12px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bolder;
       color: rgb(255, 255, 255);
       background-color: rgb(169, 27, 27);
    }

  #button2{
      width: 6vw;
      height: 6vh;
      padding: 0;
      right: 4vw; 
      position: fixed; 
      border-radius: 17px;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      color: rgb(255, 255, 255);
      background-color: rgb(169, 27, 27);
     } 

     .head-text{
        position: fixed;
        width: 70vw;
        height: 9vh;
        left: 20vw;
        top: 23vh;
        position: fixed;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
     }

      .head-text p {
        font-size: 12px;
        }
  
      .head-text h2{
        font-size: 1.3em;
        font-weight: bolder;
        color: aliceblue;
    }

    #main-box{
        color: rgb(255, 255, 255);
        position: fixed;
        border: px outset rgb(255, 193, 7);
        background-color: rgb(28, 22, 24);
        width: 100vw;
        height: 44vh;
        bottom: 15vh;
        right: 0vw;
        left: 0vw;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;}

        #main-box h1{
            text-align: center;
            text-shadow: 2PX 1px 5PX rgb(253, 237, 237);
            font-size: 44px; }

          #main-box h2{
            text-align: center;
            font-size: 27px;}

            hr{
             width: 19vw;}

            button{
            height:3.5vh;}

            .box-1{
                color: rgb(255, 255, 255);
                background-color: rgb(15, 94, 140);
                width: 24vw;
                height: 28vh;
                left: 12vw;
                top:54vh;
                position: fixed;
                border-radius: 11px;
                padding: 0px;
                font-size: 13px;
                font-weight:bold;}

              .box-2{
                color: rgb(255, 255, 255);
                background-color: rgb(15, 94, 140);
                width: 24vw;
                height: 28vh;
                right: 12vw;
                top:54vh;
                position: fixed;
                border-radius: 11px;
                padding: 0px;
                font-size: 13px;
                font-weight:bold;}

              .box-3{
                color: rgb(255, 255, 255);
                background-color: rgb(15, 94, 140);
                width: 24vw;
                height: 28vh;
                right: 38vw;
                top:54vh;
                position: fixed;
                border-radius: 11px;
                font-size: 13px;
                font-weight:bold; }

                .fot img{
                    width: 13vw;
                    height: 5vh;
                    bottom: 8vh;
                    position: fixed;
                    left: 44vw;}

                  .fot{
                  color: rgb(255, 255, 255);
                  bottom: 0vh;
                  position: fixed;
                  text-align: center;
                  font-family: Arial, Helvetica, sans-serif;
                  width: 100vw;}

                  .blog {
                    width: 10vw;
                    height: 12vh;
                    position: fixed;
                    bottom: 1vh;  }

                .fac {
                  width: 7vw;
                  height: 11vh;
                  position: fixed;
                  bottom: 1vh;
                  left: 17vw; }

                .twit{
                  width: 7vw;
                  height: 11vh;
                  position: fixed;
                  bottom: 1vh;
                  left: 70vw; }
